<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- I added this to solve the issue || SerialPortError, PERMISSION DENIED, ERRNO = 13 -->
<!--    <uses-permission android:name="android.permission.write_external_storage"/>-->
<!--    <uses-permission android:name="android.permission.read_external_storage"/>-->


</manifest>
